name: demo
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1
environment:
  sdk: ^3.6.1
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

  #State management
  get: ^4.7.3

  # Local storage
  hive_ce: ^2.15.1
  hive_ce_flutter: ^2.3.3

#  # Utilities
#  uuid: ^4.5.2
#  collection: ^1.19.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
